<!DOCTYPE html>
<html>
    <head>
        <title>Todo List</title>

        <style>
         @import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

            
            body {
                background-color: #e3caa5;
                 font-family: 'Lemon', serif;
                 font-size: xx-large;
                 text-align: center;
                 max-width: 1400px;
                 margin: auto;
            }
            .complete {
                text-decoration:  line-through;
                font-style: italic;
            }

            #todolable {
            margin: 5% ;
            background-color:burlywood ;
            padding: 5%;
            border-radius: 10px;
            }

            div{
                list-style: none;
                background-color: #DABEA2;
                border-radius: 12px;
                padding: 4%;
                margin: 5%;
                margin-left: 2.2%;
            }
           
            .buttnwork{
                padding: 10px;  
                border-radius: 8px;

                background-color: #DDD1CB;
            }

            .buttnwork:hover{
                background-color: #D3BBAF;
            }

            .textbar {
                background-color: #e4ddda;
                border-radius: 7px;
                width: 170px;
                height: 40px;
                
            }
            .textbar:hover{
                background-color: #D3BBAF;
            }

        </style>

    </head>

    <Body>
        <h1 id="todolable"> Your Todos </h1>
        <ul> 
            <div>
             {%for todo in new_todos%}
                
                 <li class = "{% if todo ['complete'] %} complete {% endif %}">
                        {% if todo ['complete'] %}🥳{% endif %}
                        {{todo['description']}}

                        <form method ="POST" action="/delete_todos/{{todo['id']}}">
                            <input class="buttnwork" type="submit" value="Delete">
                        </form>

                        {% if todo['complete']%}
                        <form method ="POST" action="/uncomplete_todo/{{todo['id']}}">
                            <input class="buttnwork" type="submit" value="Mark Uncompleted">
                        </form>
                        {%endif%}

                        {% if todo['complete'] == 0%}
                        <form method ="POST" action="/complete_todo/{{todo['id']}}">
                            <input class="buttnwork" type="submit" value="Mark Complete">
                        </form>  
                        {%endif%}

                        
                    </li>
                        
             {%endfor%}
            </div>
        </ul>

        <form method="post">

            <input class="textbar" placeholder="Enter your todo!" name = 'new_todos'>
            <br>
            <input class="buttnwork" type = 'submit' >    
        </form>   
    </Body>
</html>