<!DOCTYPE html>
<html>
    <head>
        <title>Todo List</title>
    </head>

    <Body>
        <h1>Todo</h1>
        <ul>
            {%for todo in todos%}
                <li>{{todo}}</li>
           
            {%endfor%}
        </ul>

        <form method="post">

            <input name = 'todos'>
            <input name = 'submit'>
            
        </form>

        <style>
         @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
            
            body {
                background-color: #e3caa5;
                 font-family: 'Sacramento', cursive;
                 font-size: xx-large;

            }
        </style>
    </Body>
</html>